<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mx-3" href="#" id="all-products-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Beer
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Beer</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mx-3" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Beer Types
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="types-link">
                <a href="" class="dropdown-item">Lager</a>
                <a href="" class="dropdown-item">Ale/IPAs</a>
                <a href="" class="dropdown-item">Stout</a>
                <a href="" class="dropdown-item">Sour</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mx-3" href="#" id="specials-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Taster Packs
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="taster-link">
                <a href="" class="dropdown-item">Brewdog</a>
                <a href="" class="dropdown-item">Brew Toon</a>
                <a href="" class="dropdown-item">Fierce</a>
                <a href="" class="dropdown-item">Six° North</a>
            </div>
        </li>
    </ul>
</div>